<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TimBanCu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CBF5C7320A8197B00B78E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBF5C8720A8197C00B78E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CBF5C9220A8197C00B78E6A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
